<div id="layout-paciente"
    class="layout">
    <header>
        <nav>
            <ul>
                <li><a href="#home-paciente"
                        class="active">Inicio</a></li>
                <li><a onclick="cargarMedicos();"
                        href="#programacion">Programar Cita</a></li>
                <li><a href="#cerrar-sesion"
                        class="cerrar-sesion">Cerrar Sesión</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <h1>Portal del Paciente</h1>
        <div id="app">

        </div>
    </main>
    <footer>
        <p>&copy; 2025 Sistema de Citas Médicas</p>
    </footer>
</div>